{% extends 'base.html' %}
{% load static %}

{% block title %}REES - Rachuonyo East Entrepreneur Sacco{% endblock %}

{% block content %}
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <a href="https://maps.app.goo.gl/9wPSe7C5S2996nBcA" target="_blank" rel="noopener noreferrer">
                    <small><i class="fa fa-map-marker-alt text-primary me-2"></i>Kadongo, nyamira junction,
                        Kenya</small>
                </a>
                <small class="ms-4"><i class="fa fa-clock text-primary me-2"></i>Mon - Fri (8.00 am - 5.00 pm)</small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small><i class="fa fa-envelope text-primary me-2"></i>
                    <a href="mailto:info@reeskk.org">info@reeskk.org</a>
                </small>
                <small class="ms-4"><i class="fa fa-phone-alt text-primary me-2"></i>
                    <a href="tel:+254723897273">+254 723 897 273</a>
                </small>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
            <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
<!--                <h1 class="display-5 text-primary m-0">REES</h1>-->
                <img src="{% static 'img/full_logo.png' %}" height="85px" alt="REES Logo">
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="#about" class="nav-item nav-link">About</a>
                    <a href="#services" class="nav-item nav-link">Services</a>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sections</a>
                        <div class="dropdown-menu border-light m-0">
                            <a href="#projects" class="dropdown-item">Projects</a>
                            <a href="#feature" class="dropdown-item">Features</a>
                            <a href="#team" class="dropdown-item">Team Members</a>
                            <a href="#testimonials" class="dropdown-item">Testimonials</a>
                            <!-- <a href="404.html" class="dropdown-item">404 Page</a> -->
                        </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
            <div class="d-none d-lg-flex ms-2">
                <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                    <small class="fab fa-facebook-f text-primary"></small>
                </a>
                <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                    <small class="fab fa-twitter text-primary"></small>
                </a>
                <a class="btn btn-light btn-sm-square rounded-circle ms-3" href="">
                    <small class="fab fa-linkedin-in text-primary"></small>
                </a>
            </div>
    </div>
    </nav>
    </div>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel5.png' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-8">
                                    <p class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown">
                                        Welcome to REES</p>
                                    <h1 class="display-1 mb-4 animated slideInDown">Your Financial Status Is Our Goal
                                    </h1>
                                    <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel6.png' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <p class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown">
                                        Welcome to REES</p>
                                    <h1 class="display-1 mb-4 animated slideInDown">True Financial Support For You</h1>
                                    <a href="" class="btn btn-primary py-3 px-5 animated slideInDown">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- About Start -->
    <div class="container-xxl py-5" id="about">
        <div class="container">
            <div class="row g-4 align-items-end mb-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="{% static 'img/about.jpg' %}" alt="about">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">About Us</p>
                    <h1 class="display-5 mb-4">We Help Our Members To Grow Their Business</h1>
                    <p class="mb-4">Rachuonyo East Entrepreneurs Savings and credit Cooperatibe Society Ltd (REES SACCO)
                        was Registered in September 2018. This organization was established by entrepreneurs of Rachuonyo
                        East sub county with the main objective of organizing and promoting the welfare and economic
                        interest of its members.
                    </p>
                    <div class="border rounded p-4">
                        <nav>
                            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                <button class="nav-link fw-semi-bold active" id="nav-mission-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                                    aria-selected="false">Mission</button>
                                <button class="nav-link fw-semi-bold" id="nav-vision-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision"
                                    aria-selected="false">Vision</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-mission" role="tabpanel"
                                aria-labelledby="nav-mission-tab">
                                <p>To promote a saving culture, provide diverse, competitive and affordable financial
                                    services to socially and economically empower our members.</p>
                            </div>
                            <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                                <p>To be a leading SACCO in Kenya.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-times text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>No Hidden Cost</h4>
                                    <span>Transparent fees: Clear and straightforward financial services for all members.</span>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Dedicated Team</h4>
                                    <span>Join our dedicated team for personalized financial guidance and support tailored
                                        to your needs.</span>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Easily Accessible</h4>
                                    <span>Conveniently accessible financial solutions tailored for your needs, just a click
                                        or call away.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Facts Start -->
    <div class="container-fluid facts my-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-users fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">922</h1>
                    <span class="fs-5 text-white">Sacco Members</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-check fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">5</h1>
                    <span class="fs-5 text-white">Projects</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">10</h1>
                    <span class="fs-5 text-white">Dedicated Staff</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-award fa-3x text-white mb-3"></i>
                    <h1 class="display-4 text-white" data-toggle="counter-up">2</h1>
                    <span class="fs-5 text-white">Awards</span>
                    <hr class="bg-white w-25 mx-auto mb-0">
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Features Start -->
    <div class="container-xxl feature py-5" id="feature">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choose Us!</p>
                    <h1 class="display-5 mb-4">Few Reasons Why People Choose Us!</h1>
                    <p class="mb-4">REES aims at enhancing the Economic and Social welfare of the people of Rachuonyo East
                        sub county and their families. Rachuonyo East sub county has no established financial institution.
                        Members have to depend on banks and SACCO's in the neighbouring counties. This has made access to
                        credit very expensive. REES aims at empowering entrepreneurs to:
                    </p>
                    <a class="btn btn-primary py-3 px-5" href="">Join Us</a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                        <h4 class="mb-3">Fast Executions</h4>
                                        <p class="mb-3">Experience rapid processing and seamless transactions, saving
                                            you time and hassle with our efficient services.</p>
                                        <a class="fw-semi-bold" href="">Read More <i
                                                class="fa fa-arrow-right ms-1"></i></a>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                        <h4 class="mb-3">Guide & Support</h4>
                                        <p class="mb-3">Receive expert advice and ongoing assistance, empowering you to
                                            make informed decisions and achieve your financial goals.</p>
                                        <a class="fw-semi-bold" href="">Read More <i
                                                class="fa fa-arrow-right ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="feature-box border rounded p-4">
                                <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Financial Secure</h4>
                                <p class="mb-3">Safeguard investments while accessing affordable capital. Gain skills
                                    and market understanding to expand business beyond borders confidently.</p>
                                <a class="fw-semi-bold" href="">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

    <!-- Service Start -->
    <div class="container-xxl service py-5" id="services">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Services</p>
                <h1 class="display-5 mb-5">Awesome Financial Services For Business</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>SACCO shares</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Savings Accounts</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Financial Consultancy</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Loans</h5>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="{% static 'img/shares2.png' %}"
                                            style="object-fit: cover;" alt="Shares Equity">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">6 Years Of Experience In Shares Equity</h3>
                                    <p class="mb-4">Offering secure savings accounts to foster saving habits, along with
                                        investment opportunities like SACCO shares, empowering members to build wealth and
                                        financial resilience.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Investment Plans</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Transparency</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Financial Guidance</p>
                                    <a href="#callback" class="btn btn-primary py-3 px-5 mt-3">Join Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="{% static 'img/savings2.jpg' %}"
                                            style="object-fit: cover;" alt="Savings">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">6 Years Of Experience In Savings</h3>
                                    <p class="mb-4"> Providing members secure and accessible savings accounts, our aim is
                                        to encourage consistent saving habits, fostering financial resilience and
                                        stability within the community.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Financial Literacy Resources</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Incentivized Saving Programs</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Community Engagement</p>
                                    <a href="#callback" class="btn btn-primary py-3 px-5 mt-3">Join Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="{% static 'img/finance2.jpg' %}"
                                            style="object-fit: cover;" alt="Financial Consultancy">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">6 Years Of Experience In Financial Consultancy</h3>
                                    <p class="mb-4">With six years in financial consultancy, we've guided over 900 members
                                        towards financial success, offering expertise and tailored solutions to meet their
                                        diverse needs and goals.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Tailored Financial Planning</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Training on Financial Literacy </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Investment Plans</p>
                                    <a href="#callback" class="btn btn-primary py-3 px-5 mt-3">Join Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" src="{% static 'img/loan4_edited.jpg' %}"
                                            style="object-fit: cover;" alt="Loans">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">6 Years of Experience in Loan Disbursement </h3>
                                    <p class="mb-4">With six years of expertise in loan disbursement, we've provided over
                                        $10 million in loans to members, fostering financial growth and empowerment in
                                        our community.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Business Loans</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Educational Loans</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Personal Loans</p>
                                    <a href="#callback" class="btn btn-primary py-3 px-5 mt-3">Join Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Callback Start -->
    <div class="container-fluid callback my-5 pt-5" id="callback">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Get In Touch</p>
                            <h1 class="display-5 mb-5">Request A Call-Back</h1>
                        </div>
                        <form id="callbackForm" action="" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Your Mobile" required>
                                        <label for="mobile">Your Mobile</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" name="message" placeholder="Leave a message here" id="message" style="height: 100px" required></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary w-100 py-3" type="submit" id="submitBtn">Submit Now</button>
                                    <div id="statusMessage"></div> <!-- For displaying success or failure message -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Callback End -->

    <!-- Projects Start -->
    <div class="container-xxl py-5" id="projects">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Projects</p>
                <h1 class="display-5 mb-5">We Have Completed Latest Projects</h1>
            </div>
            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.3s">
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="{% static 'img/bicycle2.jpg' %}" alt="Financial Planning">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Bicycles for Business</h4>
                    </div>
                </div>
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="{% static 'img/phone3.jpg' %}" alt="Cash Investment">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Smartphones</h4>
                    </div>
                </div>
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="{% static 'img/meko2.jpg' %}" alt="Financial Consultancy">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Rocket Stove</h4>
                    </div>
                </div>
                <div class="project-item pe-5 pb-5">
                    <div class="project-img mb-3">
                        <img class="img-fluid rounded" src="{% static 'img/solar2.jpg' %}" alt="Business Loans">
                        <a href=""><i class="fa fa-link fa-3x text-primary"></i></a>
                    </div>
                    <div class="project-title">
                        <h4 class="mb-0">Solar Business Solutions</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects End -->

    <!-- Team Start -->
    <div class="container-xxl py-5" id="team">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Team</p>
                <h1 class="display-5 mb-5">Executive Team</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <img class="img-fluid rounded" src="{% static 'img/IMG_9896_edited.jpg' %}" alt="Elizabeth Nasike">
                        <div class="team-text">
                            <h4 class="mb-0">Elizabeth Nasike</h4>
                            <div class="team-social d-flex">
                                <h4 class="mb-0">Chairlady</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <img class="img-fluid rounded" src="{% static 'img/Elizabeth.jpg' %}" alt="Elizabeth Oluoch">
                        <div class="team-text">
                            <h4 class="mb-0">Elizabeth Oluoch</h4>
                            <div class="team-social d-flex">
                                <h4 class="mb-0">Treasurer</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item">
                        <img class="img-fluid rounded" src="{% static 'img/IMG_9900_edited.jpg' %}" alt="Benson Ouma">
                        <div class="team-text">
                            <h4 class="mb-0">Benson Ouma</h4>
                            <h4 class="mb-0">Secretary</h4>
                            <div class="team-social d-flex">
                                <h4 class="mb-0">Secretary</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <img class="img-fluid rounded" src="{% static 'img/Reginah.jpg' %}" alt="Reginah">
                        <div class="team-text">
                            <h4 class="mb-0">Reginah</h4>
                            <div class="team-social d-flex">
                                <h4 class="mb-0">Assistant Chairlady</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <img class="img-fluid rounded" src="{% static 'img/IMG_9894_edited1.jpg' %}" alt="Emily Achieng">
                        <div class="team-text">
                            <h4 class="mb-0">Emily Achieng</h4>
                            <div class="team-social d-flex">
                                <h4 class="mb-0">Manager</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <img class="img-fluid rounded" src="{% static 'img/Lillian.jpg' %}" alt="Lillian Adika">
                        <div class="team-text">
                            <h4 class="mb-0">Lillian Adika</h4>
                            <div class="team-social d-flex">
                                <h4 class="mb-0">Assistant Secretary</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5" id="testimonials">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Testimonial</p>
                <h1 class="display-5 mb-5">What Our Members Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.3s">
                <div class="testimonial-item">
                    <div class="testimonial-text border rounded p-4 pt-5 mb-5">
                        <div class="btn-square bg-white border rounded-circle">
                            <i class="fa fa-quote-right fa-2x text-primary"></i>
                        </div>
                        REES Sacco's motto, 'A shilling saved is a shilling earned,' inspired me to start saving in 2019.
                        Through the Sacco, I've made diverse friendships, received valuable trainings from organizations
                        like ACCOSCA, GIZ, CDF Canada, and now run my own business. Grateful for the life-changing
                        opportunities and even received a bicycle for transportation.
                    </div>
                    <img class="rounded-circle mb-3" src="{% static 'img/Luddie.jpg' %}" alt="Member 1">
                    <h4>Luddie Seke</h4>
                    <span>Social Worker</span>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-text border rounded p-4 pt-5 mb-5">
                        <div class="btn-square bg-white border rounded-circle">
                            <i class="fa fa-quote-right fa-2x text-primary"></i>
                        </div>
                        Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem
                        lorem magna ut et, nonumy et labore et tempor diam tempor erat.
                    </div>
                    <img class="rounded-circle mb-3" src="{% static 'img/testimonial-2.jpg' %}" alt="Member 2">
                    <h4>Member Name</h4>
                    <span>Profession</span>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-text border rounded p-4 pt-5 mb-5">
                        <div class="btn-square bg-white border rounded-circle">
                            <i class="fa fa-quote-right fa-2x text-primary"></i>
                        </div>
                        Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem
                        lorem magna ut et, nonumy et labore et tempor diam tempor erat.
                    </div>
                    <img class="rounded-circle mb-3" src="{% static 'img/testimonial-3.jpg' %}" alt="Member 3">
                    <h4>Member Name</h4>
                    <span>Profession</span>
                </div>
<!--                <div class="testimonial-item">-->
<!--                    <div class="testimonial-text border rounded p-4 pt-5 mb-5">-->
<!--                        <div class="btn-square bg-white border rounded-circle">-->
<!--                            <i class="fa fa-quote-right fa-2x text-primary"></i>-->
<!--                        </div>-->
<!--                        Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem-->
<!--                        lorem magna ut et, nonumy et labore et tempor diam tempor erat.-->
<!--                    </div>-->
<!--                    <img class="rounded-circle mb-3" src="{% static 'img/testimonial-4.jpg' %}" alt="Member 4">-->
<!--                    <h4>Member Name</h4>-->
<!--                    <span>Profession</span>-->
<!--                </div>-->
<!--                <div class="testimonial-item">-->
<!--                    <div class="testimonial-text border rounded p-4 pt-5 mb-5">-->
<!--                        <div class="btn-square bg-white border rounded-circle">-->
<!--                            <i class="fa fa-quote-right fa-2x text-primary"></i>-->
<!--                        </div>-->
<!--                        Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem-->
<!--                        lorem magna ut et, nonumy et labore et tempor diam tempor erat.-->
<!--                    </div>-->
<!--                    <img class="rounded-circle mb-3" src="{% static 'img/testimonial-5.jpg' %}" alt="Member 5">-->
<!--                    <h4>Member Name</h4>-->
<!--                    <span>Profession</span>-->
<!--                </div>-->
<!--                <div class="testimonial-item">-->
<!--                    <div class="testimonial-text border rounded p-4 pt-5 mb-5">-->
<!--                        <div class="btn-square bg-white border rounded-circle">-->
<!--                            <i class="fa fa-quote-right fa-2x text-primary"></i>-->
<!--                        </div>-->
<!--                        Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem-->
<!--                        lorem magna ut et, nonumy et labore et tempor diam tempor erat.-->
<!--                    </div>-->
<!--                    <img class="rounded-circle mb-3" src="{% static 'img/testimonial-6.jpg' %}" alt="Member 6">-->
<!--                    <h4>Member Name</h4>-->
<!--                    <span>Profession</span>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock %}

